.alert-delete {
    padding: 20px;
    margin-bottom:20px;
    background-color: #f44336;
    color: white;
}
.alert-sucesso {
    padding: 20px;
    margin-bottom:20px;
    background-color: #0CD601;
    color: white;
}
.alert-alterado {
    padding: 20px;
    margin-bottom:20px;
    background-color: #FFAC00;
    color: white;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#click_busca
{
    margin-top: -18px;
}
